VITE_API_URL=https://web-journal-2r5u.onrender.com/api
VITE_SUPABASE_URL=https://pjiishvyrepvltrklyjw.supabase.co
VITE_SUPABASE_ANON_KEY=your_public_supabase_anon_key
VITE_APP_DOMAIN=https://your-domain.com
VITE_APP_VERSION=2.0.0-web
